<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Finalize</title>
</head>
<body>
    <h1>Finalize Your Account</h1>
    {% if messages %}
        <ul class="messages">    
            {% for message in messages %}    
                <li>{{ message }}</li>    
            {% endfor %}
        </ul>
    {% endif %}
    <form action="/process" method="post">
        {% csrf_token %}
        <label for="username">Username:</label>
        <input type="text" value="{{request.session.first_name}}" name="username">
        <br>
        <label for="devices">Devices: </label>
        <select name="devices" multiple>
            {% for device in devices %}
                <option value="device.dev_id">{{device.device}}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Finalize" class="btn btn-primary btn-outline-dark">
    </form>
</body>
</html>