{% extends "layout.html" %}

{% block title %}
    Friends_Main
{% endblock %}

{% block main %}
    <div id="formContainer" class="d-flex justify-content-evenly container align-items-center vh-100">
        <div id="loginForm" class="col-4 p-4 text-light rounded">
            {% if messages %}
                <ul class="messages">    
                    {% for message in messages %}
                        {% if message.tags == 'error' %}
                            <li>{{ message }}</li>
                        {% endif %}
                    {% endfor %}
                </ul>
            {% endif %}
            <form action="/account/edit_account" method="post">
                {% csrf_token %}
                <div class="form-group" style="margin-bottom: 20px">
                    <label for="first_name">First Name:</label>
                    <input type="text" value="{{user.last_name}}" placeholder="{{user.last_name}}" name="first_name" class="form-control">
                </div>
                <div class="form-group" style="margin-bottom: 20px">
                    <label for="last_name">Last Name:</label>
                    <input type="text" value="{{user.last_name}}" placeholder="{{user.last_name}}" name="last_name" class="form-control">
                </div>
                <div class="form-group" style="margin-bottom: 20px">
                    <label for="email">Email:</label>
                    <input type="text" value="{{user.email}}" name="email" placeholder="{{user.email}}" class="form-control">
                </div>
                <div class="form-group" style="margin-bottom: 20px">
                <label for="username">Username: </label>
                <input type="text" value="{{user.username}}" placeholder="{{user.username}}" name="username">
                </div>
                <div class="form-group" style="margin-bottom: 20px">
                <label for="devices">Devices: </label>
                <select name="devices" multiple>
                    {% for device in devices %}
                        <option value="{{device.id}}">{{device.device}}</option>
                    {% endfor %}
                </select>
                </div>
                <input type="submit" value="Update" class="btn btn-primary btn-outline-dark">
                <a href="/accountdelete_account" class="btn btn-danger btn-outline-dark">Delete Account</a>
            </form>
        </div>
    </div>
{% endblock %}