<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <title>Homepage</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'home_page_style.css' %}">
    <script>
        var upcomingGames = {{ upcoming_games| safe }};
        var recentGames = {{ recently_released_games| safe }};
    </script>
</head>
    <body>
        <div class="inner_body container-fluid">
            <div class="row">
                <nav class="navbar col-md-3  col-lg-2 sidebar collapsed">
                    <div class="navbar-header">
                        <button class="navbar-toggler m-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                            <a class="site-name navbar-brand ms-2" href="/">TCG</a>
                            <ul class="navbar-nav mb-lg-0 me-auto mb-2">
                                <li class="nav-item">
                                    <a class="nav-link ms-2" href="/games/games_list">Games</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link ms-2" href="/friends">Friends</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link ms-2" href="/messages">Messages</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link ms-2" href="/account/account">Account</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link ms-2" href="/help">Help</a>
                                </li>
                            </ul>
                            <form action="/games/search_results" class="form-inline my-2 my-lg-0 d-flex" method="post">
                                {% csrf_token %}
                                <input class="search-bar form-control ms-sm-2 me-2" name="search_name" type="search" placeholder="Search" aria-label="Search">
                            </form>
                        </div>
                    </div>
                </nav>

                <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 main-content">
                    <div id="carousel-indicators" class="carousel carousel-dark slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            {% for upcoming_game in upcoming_games %}
                            {% with image_url="https://images.igdb.com/igdb/image/upload/t_1080p/"|add:upcoming_game.cover.image_id|add:".jpg" %}
                            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                <div class="image-container">
                                    <a href="/games/{{upcoming_game.id}}">
                                        <img src="{{ image_url }}" class="d-block mx-auto" alt="{{upcoming_game.name}} Cover">
                                    </a>
                                    <div class="carousel-caption">
                                        <div class="carousel-caption-container">
                                            <h5>{{upcoming_game.name}}&nbsp;</h5>
                                            <p class="caption-text">Summary: {{upcoming_game.summary}}</p>
                                            <p class="formatted-release-date release-date-left"></p>
                                            <p class="platforms platforms_left"></p>
                                        </div>
                                    </div>
                                    <div class="hover-bg" style="background-image: url('{{ image_url }}')"></div>
                                </div>
                            </div>
                            {% endwith %}
                            {% endfor %}
                        </div>

                        <!-- Carousel Buttons -->
                        <button class="carousel-control-prev" type="button" data-bs-target="#carousel-indicators" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carousel-indicators" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>

                    <div class="line_break"></div>

                    <div class="second_row">
                        <h3 class="recent_releases">Recent Releases</h3>
                    </div>

                    <div class="third_row">
                        <ul class="filter_list">
                            <li class="filter_list_item">
                                <div class="genre_dropdown">
                                    <select id="genre-select" class="genre_dropdown_menu">
                                        <option value="" disabled selected>Genre</option>
                                        <option value="fighting">Fighting</option>
                                        <option value="shooter">Shooter</option>
                                        <option value="music">Music</option>
                                        <option value="platform">Platformer</option>
                                        <option value="puzzle">Puzzle</option>
                                        <option value="racing">Racing</option>
                                        <option value="rts">Real Time Strategy</option> <!-- id: 11 name: Real Time Strategy (RTS) -->
                                        <option value="rpg">Role-playing</option> <!-- id: 12 name: Role-playing (RPG)-->
                                        <option value="simulator">Simulation</option>
                                        <option value="sport">Sports</option>
                                        <option value="adventure">Adventure</option>
                                    </select>
                                </div>
                            </li>
                            <li class="filter_list_item">
                                <div class="platform_dropdown">
                                    <select class="platform_dropdown_menu">
                                        <option value="" disabled selected>Platform</option>
                                        <option value="pc">PC</option>
                                        <option value="playstation">Playstation</option>7
                                        <option value="nintendo">Nintendo</option>
                                        <option value="xbox">Xbox</option>
                                    </select>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <!-- Genre: Default -->
                    <div class="default_selection">
                        <div class="game_rows d-flex flex-wrap -flex-rows">
                            {% for recent_games in recently_released_games %}
                            {% with image_url="https://images.igdb.com/igdb/image/upload/t_1080p/"|add:recent_games.cover.image_id|add:".jpg" %}
                            <a href="/games/{{recent_games.id}}" class="recent_games d-flex flex-rows m-2">
                                <img class="rounded img-fluid" src="{{image_url}}" alt="{{recent_games.name}}" />
                            </a>
                            {% endwith %}
                            {% endfor %}
                        </div>
                    </div>

                    <!-- Genre: Fighting -->
                    <div class="fighting_selection hidden-content">
                        <div class="game_rows d-flex flex-wrap -flex-rows">
                            {% for recent_games in recently_released_games %}
                            {% for genre in recent_games.genres %}
                            {% if "Fighting" in genre.name %}
                            {% with image_url="https://images.igdb.com/igdb/image/upload/t_1080p/"|add:recent_games.cover.image_id|add:".jpg" %}
                            <a href="/games/{{recent_games.id}}" class="recent_games d-flex flex-rows m-2">
                                <img class="rounded img-fluid" src="{{image_url}}" alt="{{recent_games.name}}" />
                            </a>
                            {% endwith %}
                            {% endif %}
                            {% endfor %}
                            {% endfor %}
                        </div>
                    </div>
                    <!-- Genre: Shooter -->
                    <div class="shooter_selection hidden-content">
                        <div class="game_rows d-flex flex-wrap -flex-rows">
                            {% for recent_games in recently_released_games %}
                            {% for genre in recent_games.genres %}
                            {% if "Shooter" in genre.name %}
                            {% with image_url="https://images.igdb.com/igdb/image/upload/t_1080p/"|add:recent_games.cover.image_id|add:".jpg" %}
                            <a href="/games/{{recent_games.id}}" class="recent_games d-flex flex-rows m-2">
                                <img class="rounded img-fluid" src="{{image_url}}" alt="{{recent_games.name}}" />
                            </a>
                            {% endwith %}
                            {% endif %}
                            {% endfor %}
                            {% endfor %}
                        </div>
                    </div>
                    <!-- Genre: Music -->
                    <div class="music_selection hidden-content">
                        <div class="game_rows d-flex flex-wrap -flex-rows">
                            {% for recent_games in recently_released_games %}
                            {% for genre in recent_games.genres %}
                            {% if "Music" in genre.name %}
                            {% with image_url="https://images.igdb.com/igdb/image/upload/t_1080p/"|add:recent_games.cover.image_id|add:".jpg" %}
                            <a href="/games/{{recent_games.id}}" class="recent_games d-flex flex-rows m-2">
                                <img class="rounded img-fluid" src="{{image_url}}" alt="{{recent_games.name}}" />
                            </a>
                            {% endwith %}
                            {% endif %}
                            {% endfor %}
                            {% endfor %}
                        </div>
                    </div>
                    <!-- Genre: Platform -->
                    <div class="platform_selection hidden-content">
                        <div class="game_rows d-flex flex-wrap -flex-rows">
                            {% for recent_games in recently_released_games %}
                            {% for genre in recent_games.genres %}
                            {% if "Platform" in genre.name %}
                            {% with image_url="https://images.igdb.com/igdb/image/upload/t_1080p/"|add:recent_games.cover.image_id|add:".jpg" %}
                            <a href="/games/{{recent_games.id}}" class="recent_games d-flex flex-rows m-2">
                                <img class="rounded img-fluid" src="{{image_url}}" alt="{{recent_games.name}}" />
                            </a>
                            {% endwith %}
                            {% endif %}
                            {% endfor %}
                            {% endfor %}
                        </div>
                    </div>
                    <!-- Genre: Puzzle -->
                    <div class="puzzle_selection hidden-content">
                        <div class="game_rows d-flex flex-wrap -flex-rows">
                            {% for recent_games in recently_released_games %}
                            {% for genre in recent_games.genres %}
                            {% if "Puzzle" in genre.name %}
                            {% with image_url="https://images.igdb.com/igdb/image/upload/t_1080p/"|add:recent_games.cover.image_id|add:".jpg" %}
                            <a href="/games/{{recent_games.id}}" class="recent_games d-flex flex-rows m-2">
                                <img class="rounded img-fluid" src="{{image_url}}" alt="{{recent_games.name}}" />
                            </a>
                            {% endwith %}
                            {% endif %}
                            {% endfor %}
                            {% endfor %}
                        </div>
                    </div>
                    <!-- Genre: Racing -->
                    <div class="racing_selection hidden-content">
                        <div class="game_rows d-flex flex-wrap -flex-rows">
                            {% for recent_games in recently_released_games %}
                            {% for genre in recent_games.genres %}
                            {% if "Racing" in genre.name %}
                            {% with image_url="https://images.igdb.com/igdb/image/upload/t_1080p/"|add:recent_games.cover.image_id|add:".jpg" %}
                            <a href="/games/{{recent_games.id}}" class="recent_games d-flex flex-rows m-2">
                                <img class="rounded img-fluid" src="{{image_url}}" alt="{{recent_games.name}}" />
                            </a>
                            {% endwith %}
                            {% endif %}
                            {% endfor %}
                            {% endfor %}
                        </div>
                    </div>
                    <!-- Genre: Real Time Strategy (RTS) -->
                    <div class="rts_selection hidden-content">
                        <div class="game_rows d-flex flex-wrap -flex-rows">
                            {% for recent_games in recently_released_games %}
                            {% for genre in recent_games.genres %}
                            {% if "Real Time Strategy (RTS)" in genre.name %}
                            {% with image_url="https://images.igdb.com/igdb/image/upload/t_1080p/"|add:recent_games.cover.image_id|add:".jpg" %}
                            <a href="/games/{{recent_games.id}}" class="recent_games d-flex flex-rows m-2">
                                <img class="rounded img-fluid" src="{{image_url}}" alt="{{recent_games.name}}" />
                            </a>
                            {% endwith %}
                            {% endif %}
                            {% endfor %}
                            {% endfor %}
                        </div>
                    </div>
                    <!-- Genre: Role-playing (RPG) -->
                    <div class="roleplaying_selection hidden-content">
                        <div class="game_rows d-flex flex-wrap -flex-rows">
                            {% for recent_games in recently_released_games %}
                            {% for genre in recent_games.genres %}
                            {% if "Role-playing (RPG)" in genre.name %} <!-- id: 12 name: Role-playing (RPG) -->
                            {% with image_url="https://images.igdb.com/igdb/image/upload/t_1080p/"|add:recent_games.cover.image_id|add:".jpg" %}
                            <a href="/games/{{recent_games.id}}" class="recent_games d-flex flex-rows m-2">
                                <img class="rounded img-fluid" src="{{image_url}}" alt="{{recent_games.name}}" />
                            </a>
                            {% endwith %}
                            {% endif %}
                            {% endfor %}
                            {% endfor %}
                        </div>
                    </div>
                    <!-- Genre: Simulator -->
                    <div class="sim_selection hidden-content">
                        <div class="game_rows d-flex flex-wrap -flex-rows">
                            {% for recent_games in recently_released_games %}
                            {% for genre in recent_games.genres %}
                            {% if "Simulator" in genre.name %}
                            {% with image_url="https://images.igdb.com/igdb/image/upload/t_1080p/"|add:recent_games.cover.image_id|add:".jpg" %}
                            <a href="/games/{{recent_games.id}}" class="recent_games d-flex flex-rows m-2">
                                <img class="rounded img-fluid" src="{{image_url}}" alt="{{recent_games.name}}" />
                            </a>
                            {% endwith %}
                            {% endif %}
                            {% endfor %}
                            {% endfor %}
                        </div>
                    </div>
                    <!-- Genre: Sport -->
                    <div class="sport_selection hidden-content">
                        <div class="game_rows d-flex flex-wrap -flex-rows">
                            {% for recent_games in recently_released_games %}
                            {% for genre in recent_games.genres %}
                            {% if "Sport" in genre.name %}
                            {% with image_url="https://images.igdb.com/igdb/image/upload/t_1080p/"|add:recent_games.cover.image_id|add:".jpg" %}
                            <a href="/games/{{recent_games.id}}" class="recent_games d-flex flex-rows m-2">
                                <img class="rounded img-fluid" src="{{image_url}}" alt="{{recent_games.name}}" />
                            </a>
                            {% endwith %}
                            {% endif %}
                            {% endfor %}
                            {% endfor %}
                        </div>
                    </div>
                    <!-- Genre: Adventure -->
                    <div class="adventure_selection hidden-content">
                        <div class="game_rows d-flex flex-wrap -flex-rows">
                            {% for recent_games in recently_released_games %}
                            {% for genre in recent_games.genres %}
                            {% if "Adventure" in genre.name %} <!-- id: 31 name: Adventure -->
                            {% with image_url="https://images.igdb.com/igdb/image/upload/t_1080p/"|add:recent_games.cover.image_id|add:".jpg" %}
                            <a href="/games/{{recent_games.id}}" class="recent_games d-flex flex-rows m-2">
                                <img class="rounded img-fluid" src="{{image_url}}" alt="{{recent_games.name}}" />
                            </a>
                            {% endwith %}
                            {% endif %}
                            {% endfor %}
                            {% endfor %}
                        </div>
                    </div>
                </main>
            </div>
        </div>

        <!-- JQuery -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

        <!-- JS Bootstrap -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>

        {% load static %}
        <script src="{% static 'home_page_scripts.js' %}"></script>
    </body>
</html>