{% extends "layout.html" %}

{% block title %}
    Home Page
{% endblock %}
{% block main %}
<div class="outer_container  mt-5 w-auto">
    <div class="header_contianer d-flex justify-content-between">
        <h2 class="ms-2" style="color: white; font-family: Arial, Helvetica, sans-serif;">All Games</h2>
    </div>
</div>
<div class="d-flex flex-wrap flex-row mx-auto justify-content-center">
    {% for games in plat_list %}
        <a href="/games/{{games.id}}" class="d-flex flex-rows m-2" style="width: 16.25%;">
            <img class="game_images rounded img-fluid" src="https://images.igdb.com/igdb/image/upload/t_1080p/{{games.cover.image_id}}.jpg" alt="{{games.name}}" width="100%" style="opacity: 0.8;" onmouseover="this.style.opacity='1'" onmouseout="this.style.opacity='0.8'">
        </a>
    {% endfor %} 
</div>
{% endblock %}